<div class="content">
    <div class="leftContent">
        <app-group-box *ngFor="let user of users" [user]="user"></app-group-box>
    </div>
    <div class="rightContent" *ngIf="true; else elseBlock">
        <!-- <div class="rightContent"> -->
        simple: {{value}}@ Observable: {{dynamicValue}}@ value from child: {{child.x}}
        <app-main-content [parentValue]="value" [observableParentValue]="dynamicValue" (click)="handleClick($event)"
            (onSomething)="handleSmth($event)" #child>
            <h3 #contentFromParent>ololo and something else</h3>
        </app-main-content>
    </div>
    <ng-template #elseBlock>
        <div>trololo</div>
    </ng-template>
</div>