.bodyComp {
    background-color: var(--main-interface);
    color: var(--main-white);
    width: 290px;
    height: 28px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;

    p {
        text-align: center;
    }
}

// .bodyComp {
//     display: flex;

//     #leftBlock {
//         order: 0;
//         background-color: red;
//         height: 100px;
//         width: 100px;
//         // min-width: 20px;
//         max-width: 150px;
//     }

//     #resizer {
//         order: 1;
//         width: 4px;
//         background-color: yellow;
//         cursor:col-resize;
//     }
    
//     #rightBlock {
//         order: 2;
//         background-color: green;
//         height: 100px;
//         width: 100px;
//     }
// }