<footer>
    <div class="leftFooter"></div>
    <div class="rightFooter">
        <div>
            <a href="">
                <img src="../../assets/images/attachment white.svg" alt="attachment">
            </a>
        </div>
        <div>
            <textarea cols="30" rows="2" placeholder="Text here..."></textarea>
        </div>
        <div>
            <a href="">
                <img src="../../assets/images/smile white.svg" alt="smile">
            </a>
        </div>
        <div>
            <a href="">
                <img src="../../assets/images/mic white.svg" alt="mic">
            </a>
        </div>
    </div>
</footer>