footer {
    display: flex;
    background-color: var(--main-qivi);
    height: 10%;
    max-height: 10%;
    max-width: 100%;
    color: var(--main-white);
    .leftFooter {
        order: 0;
        width: 20%;
    }
    .rightFooter {
        order: 1;
        display: flex;
        width: 80%;
        div {
            display: flex;
            padding: 0 20px;
            a {
                align-self: center;
                img {
                    width: 35px;
                }
            }
        }
        div:nth-child(1) {
            order: 0;
            border-left: 2px solid var(--main-white);
        }
        div:nth-child(2) {
            order: 1;
            flex-grow: 1;
        }
        textarea {
            width: 100%;
            align-self: center;
            background-color: var(--main-qivi);
            resize: none;
            font-size: 20px;
            border: none;
            outline: none;
            overflow: auto;
        }::-webkit-input-placeholder {
            color: var(--main-white);
        }
        div:nth-child(3) {
            order: 2;
        }
        div:nth-child(4) {
            order: 3;
        }
    }
}