.groupBox {
    display: flex;
    background-color: var(--main-white);
    height: 10%;
    margin: 2px;
    .groupBoxImg {
        order: 0;
        img {
            border-radius: 100%;
            height: 40px;
            width: 40px;
            margin: 2px;
        }
    }
    .groupBoxInfo {
        order: 1;
        display: flex;
        flex-direction: column;
        width: 90%;
        justify-content: space-between;
        color: var(--main-grey);
        .topGroupBOx {
            order: 0;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            height: 60%;
            font-size: 16px;
            .titleGroupBox {
                order: 0;
                display: flex;
                flex-direction: row;
                flex-grow: 1;
                :nth-child(1) {
                    order: 0;
                    font-size: 16px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    padding-right: 5px;
                }
            }
            .statusGroupBox {
                order: 1;
                display: flex;
                flex-direction: row;
                justify-content: flex-end;
                align-items: center;
                width: 40%;
                :nth-child(1) {
                    order: 0;
                    img {
                        padding: 2px;
                        height: 15px;
                        width: 15px;
                    }
                }
                :nth-child(2) {
                    order: 1;
                    font-size: 14px;
                }
            }
        }
        .bottomGroupBox {
            padding-right: 30px;
            order: 1;
            height: 40%;
            font-size: 12px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }
}