<footer>
    <div class="clip">
        <a href="">
            <img src="../../assets/images/attachment.svg" alt="clip">
        </a>
    </div>
    <div class="textarea">
        <textarea cols="30" rows="2" placeholder="&nbsp;Написать сообщение..."></textarea>
    </div>
    <div class="smile">
        <a href="">
            <img src="../../assets/images/smile.svg" alt="smile">
        </a>
    </div>
    <div class="microphone">
        <a href="">
            <img src="../../assets/images/mic.svg" alt="microphone">
        </a>
    </div>
</footer>