<footer [ngStyle]="{'height': footerHeight + 'px'}">
    <div class="clip">
        <a href="">
            <img src="../../assets/images/attachment.svg" alt="clip">
        </a>
    </div>
    <div (resize)="resize($event)" (input)="changeEvent($event)" (keyup)="clearEvent($event)"
        (keydown)="handleKeyDown($event)" id="textarea" contenteditable="true" aria-multiline="true" role="textbox">
    </div>
    <div class="smile">
        <a href="">
            <img src="../../assets/images/smile.svg" alt="smile">
        </a>
    </div>
    <div class="microphone">
        <a href="">
            <img src="../../assets/images/mic.svg" alt="microphone">
        </a>
    </div>
    <!-- <button type="submit" (click)="sendMessageEvent()"></button> -->
</footer>