footer {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    background-color: var(--main-interface);
    height: 50px;
    min-height: 50px;
    // max-height: 50px;
    
    div {
        display: flex;
        margin: 5px 0;
        padding: 0 5px;

        a img {
            height: 22px;
            width: 22px;
            margin: 5px;
        }
    } 

    .clip {
        order: 0;
    }

    #textarea {
        padding: 0;
        order: 1;
        flex-grow: 1;
        overflow-y: auto;
        overflow-x: hidden;
        width: 100%;
        align-self: center;
        background-color: var(--main-interface);
        color: var(--main-white);
        font-size: 15px;
        border: none;
        outline: none;
        overflow-wrap: anywhere;
        max-height: 300px;
    }

    #textarea::-webkit-input-placeholder {
        color: var(--main-dark-grey);
        line-height: 20px;
    }

    .smile {
        order: 2;
    }
    
    // button {
    //     order: 3;
    //     height: 50px;
    //     width: 50px;
    // }

    .microphone {
        order: 3;
    }
}